.navbar {
    margin-bottom: 20px
}

.footer {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    bottom: 0;
    text-align: right;
    background-color: #dab370;
    z-index: 1;
    padding-right: 10px;
    padding-top: 5px;
}


/* .sideNav { */


/* position: fixed; */


/* Fixed Sidebar (stay in place on scroll and position relative to viewport) */


/* height: 100%; */


/* width: 75px; */


/* Set the width of the sidebar */


/* z-index: 1; */


/* Stay on top of everything */


/* top: 3.4em; */


/* Stay at the top */


/* background-color: #222; */


/* Black */


/* overflow-x: hidden; */


/* Disable horizontal scroll */


/* padding-top: 10px; */


/* } */

.deco-none {
    color: inherit;
    text-decoration: inherit;
    padding: inherit;
}

.deco-none:link {
    color: inherit;
    text-decoration: inherit;
}

.deco-none:hover {
    color: inherit;
    text-decoration: inherit;
}

body {
    padding-top: 80px;
}